.navbar-item {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    color: white;
    opacity: 50%;
}